{
    "singleQuote": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "printWidth": 120
}
